<div class="row">
  <h1>Detail Of <span style="color: #5c9dba; font-weight: bold">{{product.title}}</span></h1>
  <div class="col-10" *ngIf="product">
    <div class="row">
      <div class="card col-12">
        <div class="card-header">
          ID: <span>{{product.id}}</span>
        </div>
        <div class="card-body col-12">
          Name: <span>{{product.title}}</span>
        </div>
        <div class="card-body col-12">
          Price: <span>{{product.price}}</span>
        </div>
        <div class="card-body col-12">
          Description: <p>{{product.description}}</p>
        </div>
      </div>
    </div>
    <button routerLink="" class="btn btn-success" style="">Back To List</button>
  </div>
</div>
